# *.sh
django/app/*/__pycache__/
django/app/*/*/__pycache__/
django/app/friends/migrations/
django/app/*/migrations/
django/app/*/migrations/*
removemigrate.sh

postgres/data

django/app/media/*

django/.env
nginx/.env
postgres/.env
.env

django/app/users/tasks.py