@property --primary {
	syntax: "<color>";
	inherits: false;
	initial-value: #150E32;
}

@property --accent {
	syntax: "<color>";
	inherits: false;
	initial-value: #CDC4F8;
}

@property --border {
	syntax: "<color>";
	inherits: false;
	initial-value: #CDC4F875;
}


@property --secondary {
	syntax: "<color>";
	inherits: false;
	initial-value: #0b071d;
}

@property --selected {
	syntax: "<color>";
	inherits: false;
	initial-value: #4e427f;
}

@property --win-color {
	syntax: "<color>";
	inherits: false;
	initial-value: #2B5E42;
}

@property --loss-color {
	syntax: "<color>";
	inherits: false;
	initial-value: #703738;
}
