:root {
  font-family: "electrolize";
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

#main {
  transform-origin: center center;

  /* -webkit-transition: opacity 150ms ease;
  -moz-transition: opacity 150ms ease;
  -ms-transition: opacity 150ms ease;
  -o-transition: opacity 150ms ease;
  transition: opacity 150ms ease; */

  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.text-white {
  color: white;
}

textarea {
  resize: none;
}

h1 {
  text-transform: uppercase;
}

h1,
h2,
h4,
h5 {
  font-family: "dorsa";
  letter-spacing: 1rem;
  color: white;
  margin: 0;
}

h3,
a,
p {
  font-family: "electrolize";
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin: 0;
}

a {
  cursor: pointer;
}

.h-rule {
  width: 90%;
  height: 4px;
  background-color: #000000;
}

.btn {
  height: 80px;
  width: 420px;
  background-color: var(--primary);
  color: var(--accent);
  border: solid 2px;
  font-size: 32px;
  font-family: "electrolize";
}

.small-btn {
  height: fit-content;
  width: fit-content;
  padding: 4px 12px;
  font-size: 20px;
}

.btn:hover {
  background-color: var(--accent);
  color: var(--primary);
  border-color: var(--primary);
}

nav {
  gap: 20px;
  img {
    max-width: 140px;
    max-height: 140px;
  }
}

body {
  background-color: var(--secondary);
}

.box {
  background-color: var(--primary);
  border: solid 2px var(--border);
  border-radius: 20px;
}

.inner-box {
  background-color: var(--secondary);
}

#app {
  height: 100vh;
  max-width: 1920px;
  max-height: 1080px;
  overflow: hidden;
}

ion-icon {
  width: 28px;
  height: 28px;
  color: white;
}

.h-fit {
  height: fit-content;
}

.w-fit {
  width: fit-content;
}

.user-metric-value {
  font-size: 2rem;
  margin: 0;
}

.dorsa {
  font-family: "dorsa";
}

.electrolize {
  font-family: "electrolize";
}

.spacing-normal {
  letter-spacing: normal;
}

.tag {
  border-radius: 8px;
  background-color: var(--win-color);
  padding: 4px;

  p {
    margin: 0;
  }
}

.win-box,
.loss-box {
  border-radius: 8px;
  padding: 8px;
}

.win-box {
  background-color: var(--win-color);
}

.loss-box {
  background-color: var(--loss-color);
}

.fixed-width {
  width: 250px;
}

.friend-message {
  padding-right: 50%;
}

.my-message {
  padding-left: 50%;
  img {
    order: 2;
  }

  p {
    order: 1;
  }
}
