.login-title {
	display: grid;
	align-items: center;

	h1, h2 {
		font-weight: 200;
		text-align: center;
		vertical-align: middle;
		grid-column: 1;
		grid-row: 1;
	}

	h1 {
		font-size: 420px;
		color: #CDC4F8;
		z-index: 2;
	}
	
	h2 {
		font-size: 410px;
	}
}
